/* Title */
.title {
    font-family: 'Baskerville', serif;
    text-transform:uppercase;
    font-size: 24px;
    letter-spacing: 6px;
    color: #FAF9F6;
    padding-top: 30px;
    padding-bottom: 30px;
}

#navbar {
    position: fixed;
    left: 25px;
    bottom: 25px;
    line-height: 150%;
}

@media screen and (max-width: 690px) {
    #navbar {
        font-size: 10px;
        left: -20px;
    }
    
}

.nav-btn {
    color: #FAF9F6;
    font-family: 'Baskerville', serif;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
}

.mojo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
}

.nav-list {
    list-style-type: none;
}

.nav-btn:hover {
    color:#9acd32;
    text-shadow: #9acd32 1px 0 5px;
    transition: 0.5s ease-in-out;
}

.hero {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #000;
    position: relative;
    height: 100%;
    width: 100%;
}

.body-text {
    position: relative;
    font-family: 'Baskerville', Times, serif; 
    font-size: 13px;
    color: #FAF9F6;
    line-height: 125%;
    padding-top: 20px;
}

.copyright {
    position: fixed;
    bottom: 25px;
    right: 25px;
    color: #808080;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Baskerville',serif;
    font-weight: 300;
}

@media screen and (max-width: 690px) {
    .copyright {
        font-size: 8px;
    }
    
}

.flower {
    position: absolute;
    left:450px;
    top:1090px;
    z-index: -1;

}